In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
dataset = pd.read_csv(r"C:\Users\avsmu\Downloads\Data Science Project\heart_attack_prediction_dataset.csv")

In [3]:
dataset.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB

In [5]:
dataset.drop(["Patient ID"], axis = 1, inplace=True)

In [6]:
dataset["Systolic Pressure - BP"] = dataset["Blood Pressure"].str.split("/").str[0]

In [7]:
dataset["Diastolic Pressure - BP"] = dataset["Blood Pressure"].str.split("/").str[1]

In [8]:
dataset.drop(["Blood Pressure"], axis = 1, inplace = True)

In [9]:
dataset.head()

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,...,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk,Systolic Pressure - BP,Diastolic Pressure - BP
0,67,Male,208,72,0,0,1,0,0,4.168189,...,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0,158,88
1,21,Male,389,98,1,1,1,1,1,1.813242,...,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0,165,93
2,21,Female,324,72,1,0,0,0,0,2.078353,...,28.176571,587,4,4,France,Europe,Northern Hemisphere,0,174,99
3,84,Male,383,73,1,1,1,0,1,9.828130,...,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0,163,100
4,66,Male,318,93,1,1,1,1,0,5.804299,...,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0,91,88

In [10]:
dataset["Diet"].unique()

array(['Average', 'Unhealthy', 'Healthy'], dtype=object)

In [11]:
dataset["Country"].unique()

array(['Argentina', 'Canada', 'France', 'Thailand', 'Germany', 'Japan',
       'Brazil', 'South Africa', 'United States', 'Vietnam', 'China',
       'Italy', 'Spain', 'India', 'Nigeria', 'New Zealand', 'South Korea',
       'Australia', 'Colombia', 'United Kingdom'], dtype=object)

In [12]:
dataset["Hemisphere"].unique()

array(['Southern Hemisphere', 'Northern Hemisphere'], dtype=object)

In [13]:
dataset.shape

(8763, 26)

In [14]:
dataset.columns

Index(['Age', 'Sex', 'Cholesterol', 'Heart Rate', 'Diabetes', 'Family History',
       'Smoking', 'Obesity', 'Alcohol Consumption', 'Exercise Hours Per Week',
       'Diet', 'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Country',
       'Continent', 'Hemisphere', 'Heart Attack Risk',
       'Systolic Pressure - BP', 'Diastolic Pressure - BP'],
      dtype='object')

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              8763 non-null   int64
 1   Sex                              8763 non-null   object
 2   Cholesterol                      8763 non-null   int64
 3   Heart Rate                       8763 non-null   int64
 4   Diabetes                         8763 non-null   int64
 5   Family History                   8763 non-null   int64
 6   Smoking                          8763 non-null   int64
 7   Obesity                          8763 non-null   int64
 8   Alcohol Consumption              8763 non-null   int64
 9   Exercise Hours Per Week          8763 non-null   float64
 10  Diet                             8763 non-null   object
 11  Previous Heart Problems          8763 non-null   int64
 12  Medication Use                   8763 non-null   int64
 13  Stress Level                     8763 non-null   int64
 14  Sedentary Hours Per Day          8763 non-null   float64
 15  Income                           8763 non-null   int64
 16  BMI                              8763 non-null   float64
 17  Triglycerides                    8763 non-null   int64
 18  Physical Activity Days Per Week  8763 non-null   int64
 19  Sleep Hours Per Day              8763 non-null   int64
 20  Country                          8763 non-null   object
 21  Continent                        8763 non-null   object
 22  Hemisphere                       8763 non-null   object
 23  Heart Attack Risk                8763 non-null   int64
 24  Systolic Pressure - BP           8763 non-null   object
 25  Diastolic Pressure - BP          8763 non-null   object
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB

In [16]:
dataset.drop(["Country"], axis = 1, inplace = True)

In [17]:
dataset["Systolic Pressure - BP"] = pd.to_numeric(dataset["Systolic Pressure - BP"])

In [18]:
dataset["Diastolic Pressure - BP"] = pd.to_numeric(dataset["Diastolic Pressure - BP"])

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              8763 non-null   int64
 1   Sex                              8763 non-null   object
 2   Cholesterol                      8763 non-null   int64
 3   Heart Rate                       8763 non-null   int64
 4   Diabetes                         8763 non-null   int64
 5   Family History                   8763 non-null   int64
 6   Smoking                          8763 non-null   int64
 7   Obesity                          8763 non-null   int64
 8   Alcohol Consumption              8763 non-null   int64
 9   Exercise Hours Per Week          8763 non-null   float64
 10  Diet                             8763 non-null   object
 11  Previous Heart Problems          8763 non-null   int64
 12  Medication Use                   8763 non-null   int64
 13  Stress Level                     8763 non-null   int64
 14  Sedentary Hours Per Day          8763 non-null   float64
 15  Income                           8763 non-null   int64
 16  BMI                              8763 non-null   float64
 17  Triglycerides                    8763 non-null   int64
 18  Physical Activity Days Per Week  8763 non-null   int64
 19  Sleep Hours Per Day              8763 non-null   int64
 20  Continent                        8763 non-null   object
 21  Hemisphere                       8763 non-null   object
 22  Heart Attack Risk                8763 non-null   int64
 23  Systolic Pressure - BP           8763 non-null   int64
 24  Diastolic Pressure - BP          8763 non-null   int64
dtypes: float64(3), int64(18), object(4)
memory usage: 1.7+ MB

In [20]:
dataset["Risk"] = dataset["Heart Attack Risk"]
dataset.drop(["Heart Attack Risk"], axis = 1, inplace = True)

In [21]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [22]:
print(y)

0       0
1       0
2       0
3       0
4       0
       ..
8758    0
8759    0
8760    1
8761    0
8762    1
Name: Risk, Length: 8763, dtype: int64

In [23]:
X = pd.get_dummies(X, drop_first = True)

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [25]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [26]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 10)
model_available = classifier.fit(X_train, y_train)

In [27]:
y_pred = model_available.predict(X_test)

In [28]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
ac = accuracy_score(y_test, y_pred)
cr = classification_report(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)

In [35]:
print(f"Accuracy Score: {ac:2f}")

Accuracy Score: 0.615063

In [30]:
print(f"{cr}")

              precision    recall  f1-score   support

           0       0.64      0.90      0.75      1700
           1       0.34      0.09      0.15       929

    accuracy                           0.62      2629
   macro avg       0.49      0.50      0.45      2629
weighted avg       0.54      0.62      0.54      2629

In [32]:
print(f"{cm}")

[[1531  169]
 [ 843   86]]

In [38]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, cv = 10, X = X_train, y = y_train)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 60.79 %
Standard Deviation: 1.81 %

In [41]:
from sklearn.model_selection import GridSearchCV
parameters = [{"n_neighbors": [5, 10, 20, 50]}]
grid_search = GridSearchCV(estimator = classifier, cv = 10, n_jobs = -1, param_grid = parameters, scoring = "accuracy")
grid_search.fit(X_train, y_train)
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_
print("Best Accuracy: {:.2f} %".format(best_accuracy*100))
print("Best Parameters:", best_parameters)

Best Accuracy: 63.63 %
Best Parameters: {'n_neighbors': 50}